<div class="cats-list-container">
  <div class="cat-item" *ngFor="let item of catsList">
    <img [src]="item.url" alt="">
    <button (click)="addToFavorites(item.id)">
      Agregar a favoritos
    </button>
  </div>
</div>