.cats-list-container {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  .cat-item {
    width: 200px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    img {
      width: 100%;
      border: 2px solid #fbfbfb;
      box-shadow: 0px 0px 4px 0px #000;
    }
    button {
      padding: 10px 5px;
      margin-top: 5px;
      border-radius: 4px;
      background-color: rgba($color: #4CAF50, $alpha: 0.7);
      border: 2px solid #4CAF50;
      color: #fefefe;
      cursor: pointer;
      &:hover {
        background-color: rgba($color: #388E3C, $alpha: 0.7);
      }
    }
  }
}