<div class="favorites-cats-list">
  <div class="cat-item" *ngFor="let item of catsList" >
    <img [src]="item.image.url" alt="">
    <button (click)="removeFromFavorites(item.id)">
      Eliminar de favoritos
    </button>
  </div>
</div>