div.nav {
  padding-left: 15px;
  padding-top: 15px;
  a {
    color: #1976D2;
    text-decoration: none;
    font-size: 1.3rem;
    background-color: rgba($color: #dedede, $alpha: 0.5);
    padding: 5px;
    border-radius: 4px;
    &:hover {
      text-decoration: underline;
      color: #2196F3;
    }
    margin-right: 10px;
  }
}